*.o
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
__astcache

# gets created by qmake
/app/qtapp/Makefile
/app/consapp/convbin/msc/.vs/msc
/app/consapp/rnx2rtkp/msc/.vs/msc
*.ubx
*.nav
*.sbs
*.rtcm3
*.pos
trace.txt
.stat
